.bingo-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: black;
    width: min-content;
    height: min-content;
    margin: auto;
    margin-bottom: 50px;
    border: 10px solid black;
}

.bingo-board__space {
    display: inline-flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    padding: 10px;
    user-select: none;
}

.bingo-board__space:hover {
    background-color: lightblue;
}

.bingo-board__space--selected, .bingo-board__space--selected:hover {
    background-color: blue;
    color: white;
}

.bingo-board__victory {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

.bingo-header .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4px;
}